name: Build & Push Images (Logistics + Procurement)

on:
  push:
    branches: [ "main" ]
    paths:
      - "src/Modules/Logistics/Logistics.Api/**"
      - "src/Modules/Procurement/Procurement.Api/**"
      - ".github/workflows/docker-build-push.yml"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        service:
          - name: logistics
            dockerfile: src/Modules/Logistics/Logistics.Api/Dockerfile
          - name: procurement
            dockerfile: src/Modules/Procurement/Procurement.Api/Dockerfile

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push ${{ matrix.service.name }} image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ${{ matrix.service.dockerfile }}
          push: true
          tags: |
            ogabek0331/${{ matrix.service.name }}:latest
            ogabek0331/${{ matrix.service.name }}:${{ github.sha }}
