name: Build & Push Logistics Image

on:
  push:
    branches: [ "main" ]
    paths:
      - "src/Modules/Logistics/Logistics.Api/**"
      - ".github/workflows/docker-build-push.yml"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push logistics image
        uses: docker/build-push-action@v5
        with:
          context: src/Modules/Logistics/Logistics.Api
          file: Dockerfile
          push: true
          tags: |
            ogabek0331/logistics:latest
            ogabek0331/logistics:${{ github.sha }}
